fastapi>=0.100.0
uvicorn>=0.23.0
python-dotenv>=1.0.0
pydantic>=2.0.0
motor>=3.3.0
python-multipart>=0.0.6
google-genai>=1.9.0
elevenlabs>=0.3.0
nest-asyncio>=1.5.8
fastapi-cors>=0.0.6
speechrecognition>=3.14.2
openai-whisper>=20231117
pydub>=0.25.1